In [19]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
from random import randint

In [20]:
#import cleaned data as csv file.  Need to encode with ANSI due to special characters
csv_path_clean = "../data/Cleaned_Data.csv"
solar_clean_df = pd.read_csv(csv_path_clean, delimiter=",", encoding="ISO-8859-1")

#show head of dataframe to ensure proper loading
solar_clean_df.head()

,Unnamed: 0,tile_count,solar_system_count,total_panel_area,fips,average_household_income,county,education_bachelor,education_college,education_doctoral,...,incentive_residential_state_level,incentive_nonresidential_state_level,net_metering,feedin_tariff,cooperate_tax,property_tax,sales_tax,rebate,avg_electricity_retail_rate,Solar_Status
0,0,0,0,0.000000,27145011200,70352.78987,Stearns County,569,1690,13,...,11,13,34,0,0,25,12,0,9.46,No
1,2,3,3,64.505776,27145011302,71496.88658,Stearns County,854,1459,31,...,11,13,34,0,0,25,12,0,9.46,Yes
2,3,0,0,0.000000,27145011304,86840.15275,Stearns County,640,1116,68,...,11,13,34,0,0,25,12,0,9.46,No
3,4,5,5,164.583303,27145011400,89135.31560,Stearns County,654,1314,15,...,11,13,34,0,0,25,12,0,9.46,Yes
4,5,0,0,0.000000,27145011500,62225.90361,Stearns County,522,1395,24,...,11,13,34,0,0,25,12,0,9.46,No

In [21]:
reduced_solar_df = solar_clean_df.loc[:, ["state", "electricity_price_residential", "electricity_price_commercial","electricity_price_industrial", "incentive_count_residential","incentive_count_nonresidential"]]
reduced_solar_df

,state,electricity_price_residential,electricity_price_commercial,electricity_price_industrial,incentive_count_residential,incentive_count_nonresidential
0,mn,12.12,9.44,7.02,34,39
1,mn,12.12,9.44,7.02,34,39
2,mn,12.12,9.44,7.02,34,39
3,mn,12.12,9.44,7.02,34,39
4,mn,12.12,9.44,7.02,34,39
5,mn,12.12,9.44,7.02,34,39
6,mn,12.12,9.44,7.02,34,39
7,mn,12.12,9.44,7.02,34,39
8,mn,12.12,9.44,7.02,34,39
9,mn,12.12,9.44,7.02,34,39
10,mn,12.12,9.44,7.02,34,39
11,mn,12.12,9.44,7.02,34,39
12,mn,12.12,9.44,7.02,34,39
13,mn,12.12,9.44,7.02,34,39
14,mn,12.12,9.44,7.02,34,39
15,mn,12.12,9.44,7.02,34,39
16,mn,12.12,9.44,7.02,34,39
17,mn,12.12,9.44,7.02,34,39
18,mn,12.12,9.44,7.02,34,39
19,ny,18.54,15.31,6.31,28,36
20,ny,18.54,15.31,6.31,28,36
21,ny,18.54,15.31,6.31,28,36
22,ny,18.54,15.31,6.31,28,36
23,ny,18.54,15.31,6.31,28,36
24,ny,18.54,15.31,6.31,28,36
25,ny,18.54,15.31,6.31,28,36
26,ny,18.54,15.31,6.31,28,36
27,ny,18.54,15.31,6.31,28,36
28,ny,18.54,15.31,6.31,28,36
29,ny,18.54,15.31,6.31,28,36
...,...,...,...,...,...,...
63817,in,11.57,9.78,6.86,13,22
63818,tn,10.30,10.16,6.17,10,19
63819,tn,10.30,10.16,6.17,10,19
63820,tn,10.30,10.16,6.17,10,19
63821,tn,10.30,10.16,6.17,10,19
63822,tn,10.30,10.16,6.17,10,19
63823,ut,10.88,8.62,6.17,19,26
63824,ut,10.88,8.62,6.17,19,26
63825,tx,11.56,8.15,5.59,47,54
63826,tx,11.56,8.15,5.59,47,54
63827,tx,11.56,8.15,5.59,47,54
63828,tx,11.56,8.15,5.59,47,54
63829,tx,11.56,8.15,5.59,47,54
63830,tx,11.56,8.15,5.59,47,54
63831,tx,11.56,8.15,5.59,47,54
63832,tx,11.56,8.15,5.59,47,54
63833,tx,11.56,8.15,5.59,47,54
63834,nd,9.62,8.83,8.07,10,17
63835,ia,11.63,8.92,5.90,18,26
63836,ia,11.63,8.92,5.90,18,26
63837,ia,11.63,8.92,5.90,18,26
63838,ia,11.63,8.92,5.90,18,26
63839,ga,11.54,9.89,5.87,19,22
63840,co,12.12,9.88,7.40,43,50
63841,co,12.12,9.88,7.40,43,50
63842,co,12.12,9.88,7.40,43,50
63843,ok,10.14,7.68,5.35,8,19
63844,ok,10.14,7.68,5.35,8,19
63845,ok,10.14,7.68,5.35,8,19
63846,tx,11.56,8.15,5.59,47,54

In [22]:
grouped_solar_df = reduced_solar_df.groupby(['state'])

grouped_solar_df.mean()

,electricity_price_residential,electricity_price_commercial,electricity_price_industrial,incentive_count_residential,incentive_count_nonresidential
state,,,,,
al,11.70,10.83,6.03,9,19
ar,9.82,8.32,6.23,8,16
az,12.13,10.39,6.26,28,41
ca,16.99,15.73,12.17,75,85
co,12.12,9.88,7.40,43,50
ct,20.94,15.97,12.95,28,31
dc,12.99,12.01,8.78,13,19
de,13.42,10.25,8.28,19,26
fl,11.58,9.50,8.22,41,31
ga,11.54,9.89,5.87,19,22
ia,11.63,8.92,5.90,18,26
id,9.93,7.80,6.60,14,19
il,12.50,9.02,6.67,18,28
in,11.57,9.78,6.86,13,22
ks,12.34,10.10,7.61,12,18
ky,10.24,9.44,5.48,13,25
la,9.33,8.66,5.41,16,17
ma,19.83,15.79,13.54,31,33
md,13.82,11.00,8.53,28,39
me,15.61,12.47,9.05,15,20
mi,14.42,10.55,7.02,15,30
mn,12.12,9.44,7.02,34,39
mo,11.21,9.16,6.44,18,28
ms,11.27,10.55,6.56,10,18
mt,10.88,10.23,5.32,15,23
nc,11.28,8.73,6.51,29,33
nd,9.62,8.83,8.07,10,17
ne,10.60,8.67,7.59,14,21
nh,18.50,14.96,12.74,16,20
nj,15.81,12.79,10.64,21,27
nm,12.47,10.30,6.33,21,33
nv,12.76,9.25,6.75,18,27
ny,18.54,15.31,6.31,28,36
oh,12.80,10.07,7.02,17,29
ok,10.14,7.68,5.35,8,19
or,10.66,8.80,5.97,43,47
pa,13.64,9.60,7.20,17,31
ri,19.29,15.78,13.76,21,26
sc,12.57,10.21,6.05,16,25
sd,11.08,9.16,7.37,10,19
tn,10.30,10.16,6.17,10,19
tx,11.56,8.15,5.59,47,54
ut,10.88,8.62,6.17,19,26
va,11.37,8.21,6.95,19,16
vt,17.09,14.54,10.27,21,28
wa,9.09,8.22,4.35,23,30
wi,14.11,10.89,7.58,20,28
wv,10.08,8.61,6.09,10,15
wy,10.97,9.12,6.76,10,14

In [23]:
southern_solar_df = grouped_solar_df.mean()

southern_solar_df.shape

(49, 5)

In [24]:
southern_solar_df.loc[["la","tx","ok","ar","al","ms"],:]

,electricity_price_residential,electricity_price_commercial,electricity_price_industrial,incentive_count_residential,incentive_count_nonresidential
state,,,,,
la,9.33,8.66,5.41,16,17
tx,11.56,8.15,5.59,47,54
ok,10.14,7.68,5.35,8,19
ar,9.82,8.32,6.23,8,16
al,11.70,10.83,6.03,9,19
ms,11.27,10.55,6.56,10,18

In [36]:
col = southern_solar_df.columns

In [40]:
val = southern_solar_df.values

val.shape

(49, 5)